<section class="chat-shell">
  <!-- HEADER -->
  @if (chatState.mode() === 'dm') {
    <section class="chat-shell__header">
    <ng-container>
      <app-chat-header-dm (openOverlay)="onOpenOverlayUser($event)"></app-chat-header-dm>
    </ng-container>
  </section>
  }

  @if (chatState.mode() === 'channel') {
    <section class="chat-shell__header">
      <ng-container>
        <app-chat-header-group
          (openOverlay)="onOpenOverlayView($event)"
          (openChannelDetails)="onOpenChannelDetails($event)"
        ></app-chat-header-group>
      </ng-container>
    </section>
  }

  @if(chatState.mode() === 'new') {
    <section class="chat-shell__header">
    <ng-container>
      <app-chat-header-new-message></app-chat-header-new-message>
    </ng-container>
  </section>
  }
  <!-- SHARED MESSAGES -->
  <section class="chat-shell__messages">
    <app-chat-messages></app-chat-messages>
  </section>

  <!-- SHARED INPUT -->
  <section class="chat-shell__composer">
    <app-chat-input (userAdded)="onUserAdded($event)"></app-chat-input>
  </section>
</section>
