@import '../../../styles/abstracts/mixins';

.pw-page {
  background-color: var(--color-bg-default);
  height: 100vh;

  &__main-section {
    @include flex-center;
  }
}

.title-container {
  width: 100%;
  position: relative;

  .abs-pos {
    position: absolute;
    left: 0;
    top: 4px;
  }

  h1 {
    font-size: clamp(28px, 4vw + 1rem, 38px);
  }
}

.ligt-colored {
  color: var(--color-text-placeholder);
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.tooltip-img {
  height: 48px;
  width: 48px;
}

.color {
  @include flex-center;
  gap: 16px;
  color: var(--color-secondary-default);
}
