.outer-container {
  position: relative;
}

.workspace-overlay__dialogs {
  position: absolute;
  right: 20px;
  top: 120px;
}

.workspace-overlay__modals {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
