.outer-container {
  position: relative;
}

.workspace-overlay__dialogs {
  position: absolute;
  right: 20px;
  top: 120px;
}

.workspace-overlay__modals {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.workspace-overlay__modals--center-left {
  position: fixed;
  top: 54%;
  left: 30%;
  transform: translateY(-50%);
  //to be adapted for responsiveness for device heights and widths!
}

.workspace-overlay__modals--center-right {
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  //to be adapted for responsiveness for device heights and widths!
}

