@import '../../../../../styles/abstracts/mixins';

.chat-messages__container {
  @include flex-column-space-btw;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding: 16px 0;
}

.faded {
  color: var(--color-text-placeholder);
  font-size: var(--font-size-text-regular);
}

.accent {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text-medium);
  align-self: flex-end;
}

.accent-secondary {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text-medium);
  align-self: flex-start;
}

.accent-tertiary {
  color: var(--color-secondary-hover);
}

.txt-small {
  font-size: var(--font-size-text-small);
}

.txt-bold {
  font-weight: var(--font-weight-bold);
}

.mention {
  color: var(--color-text-accent);
}

.dm-greeting {
  @include flex-column-space-btw;
  align-items: flex-start;
  gap: 16px;
}

.avatar-name {
  @include flex-space-btw;
  gap: 16px;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.messages-history {
  width: 100%;
  height: 100%;
  max-height: 300px;
  padding-top: 20px;
  padding-right: 4px;
}

.message-separator {
  @include flex-space-btw;
  width: 100%;
  gap: 1px;
  margin: 8px 0;
}

.line {
  height: 1px;
  background-color: var(--color-border-light);
  flex: 1;
}

.bubble {
  border: 1px solid var(--color-border-light);
  border-radius: 10px;
  height: 30px;
  padding: 0 8px;
  @include flex-space-btw;
}

.chat-message {
  display: flex;
  gap: 8px;
  padding: 8px 0;
}

.chat-message:hover {
  background-color: var(--color-bg-default);
}

.chat-message:hover .message-buble {
  background-color: white;
}

.message-content {
  @include flex-column-space-btw;
  // align-items: flex-start;
  gap: 4px;
}

.own-message {
  align-items: flex-end;
  justify-content: flex-end;
}

.own-message img {
  justify-self: flex-start;
  align-self: flex-start;
}

.external-message {
  align-items: flex-start;
  justify-content: flex-end;
}

.avatar-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user-timestamp {
  @include flex-space-btw;
  gap: 8px;
}

.user-timestamp button:hover {
  color: var(--color-primary-default);
}

.message-buble {
  background-color: var(--color-bg-default);
  padding: 8px;
  border-radius: 0 20px 20px 20px;
}

.answers {
  @include flex-space-btw;
  gap: 8px;
}

.answers button:hover {
  font-weight: var(--font-weight-bold);
}

.answers p:hover {
  color: var(--color-text-default);
}
