@import '../../../../styles/abstracts/mixins';

.sidebar-content {
  @include flex-column-space-btw;
  justify-content: flex-start;
  gap: 30px;
  background-color: var(--color-secondary-default);
  border-radius: 30px;
  height: 100%;
  padding: 20px 16px;

  &__header {
    @include flex-space-btw;
    width: 100%;
  }
}

.header-logo {
  height: 50px;
}

h3 {
  color: var(--color-text-default);
}

.bold-span {
  font-weight: var(--font-weight-bold);
}

.sidebar-content__channels {
  width: 100%;
}

.sidebar-content__messages {
  width: 100%;
}

//Buttons styling
.action-btns {
  @include flex-space-btw;
  width: 100%;
}

.channels-btn {
  @include flex-space-btw;
  gap: 8px;
  transition:
    background-color 0.1s ease-in,
    transform 0.1s ease-in;

  &:hover {
    color: var(--color-primary-default);
    transform: translateY(-2px);
  }
}

.collapsible svg {
  transition: transform 0.25s ease;
}

.collapsible.collapsed svg.arrow-icon {
  transform: rotate(-90deg);
}

.collapsible.expanded svg.arrow-icon {
  transform: rotate(0deg);
}

.collapsible .channels-container {
  display: block;
}

.collapsible.collapsed .channels-container {
  display: none;
}

.channels-container {
  margin-top: 16px;
}

.max-height-primary {
  max-height: 150px;
  overflow-y: scroll;
}

.max-height-secondary {
  max-height: 250px;
  overflow-y: scroll;
}

.single-channel {
  @include flex-space-btw;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 16px;
  width: 100%;
  border-radius: 15px;

  &:hover {
    background-color: var(--color-bg-default);
    color: var(--color-secondary-hover);
  }

  svg {
    height: 22px;
    width: 22px;
  }
}

.add-channel {
  @include flex-space-btw;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 16px;
  padding: 0 8px;

  &:hover {
    color: var(--color-secondary-hover);
  }

  svg {
    height: 22px;
    width: 22px;
  }
}

.app-user {
  @include flex-space-btw;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  padding: 8px 16px;

  &:hover {
    background-color: var(--color-bg-default);
  }
}

.user-avatar {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
