<section class="inputs-wrapper">
  <div class="inputs-wrapper__input-container">
    <app-input-icon [type]="type()"></app-input-icon>
    <input
      class="inputs-wrapper__default-input"
      [type]="type()"
      [placeholder]="placeholder()"
      (blur)="onBlur($event)"
      (input)="onInput($event)"
    />
  </div>
  @if (type() === 'email') {
    <p class="inputs-wrapper__error" [class.visible]="showError">
      Diese E-Mail-Adresse ist leider ungültig.
    </p>
  }
  @if (type() === 'password') {
    <p class="inputs-wrapper__error" [class.visible]="showError">
      Dieses Passwort ist leider ungültig.
    </p>
  }
   @if (type() === 'name') {
    <p class="inputs-wrapper__error" [class.visible]="showError">
      Bitte shreiben Sie einen Namen.
    </p>
  }
</section>
