<section class="inputs-wrapper">
  <div class="inputs-wrapper__input-container">
    <app-input-icon [type]="type()"></app-input-icon>
    <input
      class="inputs-wrapper__default-input"
      [type]="type()"
      [placeholder]="placeholder()"
      (blur)="onBlur($event)"
      (input)="onInput($event)"
    />
  </div>
  <p class="inputs-wrapper__error" [class.visible]="controls()?.touched && controls()?.invalid">
    @if (type() === 'email' && controls()?.hasError('required')) {
      Bitte geben Sie eine E-Mail-Adresse ein.
    }

    @if (type() === 'email' && controls()?.hasError('email')) {
      Diese E-Mail-Adresse ist leider ungültig.
    }

    @if (type() === 'password' && controls()?.hasError('required')) {
      Bitte geben Sie ein Passwort ein.
    }

    @if (type() === 'password' && controls()?.hasError('strongPassword')) {
      Mind. 8 Zeichen mit Groß- und Kleinbuchstaben, Sonderzeichen und Ziffern.
    }

    @if (type() === 'name' && controls()?.hasError('required')) {
      Bitte schreiben Sie einen Namen.
    }
  </p>
</section>
