<section class="add-members">
  <div class="add-members__header">
    <h3>Leute hinzufügen</h3>
    <button class="add-members__close-btn chat-btn-secondary" (click)="closeClicked()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <mask
          id="mask0_813_12181"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="24"
          height="24"
        >
          <rect width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_813_12181)">
          <path
            d="M11.9998 13.4L7.0998 18.3C6.91647 18.4834 6.68314 18.575 6.3998 18.575C6.11647 18.575 5.88314 18.4834 5.6998 18.3C5.51647 18.1167 5.4248 17.8834 5.4248 17.6C5.4248 17.3167 5.51647 17.0834 5.6998 16.9L10.5998 12L5.6998 7.10005C5.51647 6.91672 5.4248 6.68338 5.4248 6.40005C5.4248 6.11672 5.51647 5.88338 5.6998 5.70005C5.88314 5.51672 6.11647 5.42505 6.3998 5.42505C6.68314 5.42505 6.91647 5.51672 7.0998 5.70005L11.9998 10.6L16.8998 5.70005C17.0831 5.51672 17.3165 5.42505 17.5998 5.42505C17.8831 5.42505 18.1165 5.51672 18.2998 5.70005C18.4831 5.88338 18.5748 6.11672 18.5748 6.40005C18.5748 6.68338 18.4831 6.91672 18.2998 7.10005L13.3998 12L18.2998 16.9C18.4831 17.0834 18.5748 17.3167 18.5748 17.6C18.5748 17.8834 18.4831 18.1167 18.2998 18.3C18.1165 18.4834 17.8831 18.575 17.5998 18.575C17.3165 18.575 17.0831 18.4834 16.8998 18.3L11.9998 13.4Z"
            fill="currentColor"
          />
        </g>
      </svg>
    </button>
  </div>
  <div class="add-members__selections">
    <button
      class="selection"
      [class.selection--active]="selectedOption === 'all'"
      (click)="selectOption('all')"
    >
      <div class="radio-btn" [class.radio-btn--active]="selectedOption === 'all'"></div>
      Alle Mitglieder von <span class="accent">Entwicklerteam</span> hinzufügen
    </button>

    <button
      class="selection"
      [class.selection--active]="selectedOption === 'some'"
      (click)="selectOption('some')"
    >
      <div class="radio-btn" [class.radio-btn--active]="selectedOption === 'some'"></div>
      Bestimmte Leute hinzufügen
    </button>
  </div>
  <div
    class="add-members__input-wrapper"
    [class.add-members__input-wrapper--visible]="selectedOption === 'some'"
  >
    <!-- SELECTED USERS FOR THE INPUT -->
    <div class="add-members__input-fake input-secondary">
      @for (user of visibleChips; track user.id) {
        <div class="chip">
          <img class="chip-avatar small-avatar" [src]="user.avatarUrl" alt="avatar" />
          <span class="chip-name">{{ user.name }}</span>
          <button class="chip-remove" (click)="removeUser(user)">
            <svg
              class="close-btn-chip"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <mask
                id="mask0_813_12181"
                style="mask-type: alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="24"
                height="24"
              >
                <rect width="24" height="24" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_813_12181)">
                <path
                  d="M11.9998 13.4L7.0998 18.3C6.91647 18.4834 6.68314 18.575 6.3998 18.575C6.11647 18.575 5.88314 18.4834 5.6998 18.3C5.51647 18.1167 5.4248 17.8834 5.4248 17.6C5.4248 17.3167 5.51647 17.0834 5.6998 16.9L10.5998 12L5.6998 7.10005C5.51647 6.91672 5.4248 6.68338 5.4248 6.40005C5.4248 6.11672 5.51647 5.88338 5.6998 5.70005C5.88314 5.51672 6.11647 5.42505 6.3998 5.42505C6.68314 5.42505 6.91647 5.51672 7.0998 5.70005L11.9998 10.6L16.8998 5.70005C17.0831 5.51672 17.3165 5.42505 17.5998 5.42505C17.8831 5.42505 18.1165 5.51672 18.2998 5.70005C18.4831 5.88338 18.5748 6.11672 18.5748 6.40005C18.5748 6.68338 18.4831 6.91672 18.2998 7.10005L13.3998 12L18.2998 16.9C18.4831 17.0834 18.5748 17.3167 18.5748 17.6C18.5748 17.8834 18.4831 18.1167 18.2998 18.3C18.1165 18.4834 17.8831 18.575 17.5998 18.575C17.3165 18.575 17.0831 18.4834 16.8998 18.3L11.9998 13.4Z"
                  fill="#1C1B1F"
                />
              </g>
            </svg>
          </button>
        </div>
      }
      @if (hiddenChipCount > 0) {
        <div class="chip chip--collapsed">+{{ hiddenChipCount }}</div>
      }

      <input
        class="add-members__input-real"
        type="text"
        placeholder="Name eingeben"
        (input)="onInput($event)"
        [value]="inputValue"
        (focus)="dialogOpen = true"
      />
    </div>
    <!-- USERS COTAINER -->
    @if (dialogOpen && selectedOption === 'some') {
      <div class="users-dialog">
        @for (user of users(); track user.id) {
          <button class="app-user rel-pos" (click)="selectUser(user)">
            <img class="small-avatar" [src]="user.avatarUrl" alt="user avatar" />
            <div
              class="status-bullet-small"
              [ngClass]="{
                'status-bullet-small--online': user?.status === 'online',
                'status-bullet-small--offline': user?.status === 'offline',
                'status-bullet-small--away': user?.status === 'away',
              }"
            ></div>
            <span class="username-small">{{ user.name }}</span>
          </button>
        }
      </div>
    }
  </div>

  <button
    class="add-members__submit-btn btn-primary-blue"
    (click)="confirmSelection()"
    [disabled]="
      selectedOption === null || (selectedOption === 'some' && selectedUsers.length === 0)
    "
  >
    Erstellen
  </button>
</section>
