@import '../../../styles/abstracts/mixins';

.legal-notice-page {
  background-color: var(--color-bg-default);
  height: 100vh;
}

.bg {
  background-color: var(--color-bg-default);
  @include flex-column-space-btw;
}

.header {
  align-self: flex-start;
}

.card {
  max-height: 150px;
  max-width: 500px;
  margin: 0 20px;
  justify-content: flex-start;

  .title-return {
    @include flex-space-btw;
    width: 100%;
    margin-bottom: 32px;
  }

  @media(max-width: 650px){
    min-height: 400px;
  }
}


