* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//global typography styling
h1 {
  font-family: var(--font-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
  line-height: 1.2;
  color: var(--color-text-accent);
}

h2 {
  font-family: var(--font-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
  line-height: 1.25;
  color: var(--color-text-accent);
}

h3 {
  font-family: var(--font-regular);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h3);
  line-height: 1.3;
  color: var(--color-text-accent);
}

p {
  font-family: var(--font-regular);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text-regular);
  line-height: 1.5;
}

small {
  font-family: var(--font-regular);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text-small);
}

button {
  font-family: var(--font-bold);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-button);
}

.d-none {
  display: none;
}
