*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;

  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 0;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--color-bg-default) inset;
    -webkit-text-fill-color: var(--color-text-default);
  }

  &::placeholder {
    opacity: 1;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444df2 transparent;
}

/* WebKit (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #444df2;
  border-radius: 10px;
}

/* Remove ALL scrollbar buttons (vertical + horizontal) */
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-button:start:decrement,
*::-webkit-scrollbar-button:end:increment,
*::-webkit-scrollbar-button:horizontal:start:decrement,
*::-webkit-scrollbar-button:horizontal:end:increment {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* Optional: make scrollbar overlay-style everywhere */
::-webkit-scrollbar-corner {
  background: transparent;
}


