*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

img, picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

input, textarea, select {
  font: inherit;

  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 0;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--color-bg-default) inset;
    -webkit-text-fill-color: var(--color-text-default);
  }

  &::placeholder {
    opacity: 1;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
